@model Tarea4.Models.datos
@{
    ViewBag.Title = "Resivir";
}

    
   
    <h2 class="text-center my-4">Datos Personales</h2>
<div class="card mx-auto d-block"  style="width:400px">
    <img class="card-img-top " src="~/Content/@ViewBag.foto" alt="Card image" style="width:100%" height="210px">
    <div class="card-body">
        <h4 class="card-title text-center">@Model.Nombre @Model.Apellido </h4>
        <p class="card-text">
            <ul>
                <li><b> Edad:</b> @Model.Edad</li>
                <li><b> Género:</b> @Model.Género</li>
                <li><b> Teléfono: </b>@Model.Teléfono</li>
                <li><b> Correo: </b>@Model.Correo</li>
                <li> <b>Puesto:</b> @Model.trabajo</li>

            </ul>
        </p>
     
    </div>
</div>

<<<<<<< HEAD
<h3>Apellido: <b>@Model.Apellido </b></h3>
=======
 <a id="boton" class="btn btn-primary " href="/Login/Formulario">Regresar al Formulario</a>
 
>>>>>>> 12ba7dc08e91ce048f3a28f9bd54050316e564fd
